<table mdbTable small="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements">
        <td scope="row">{{el.first}}</td>
        <td>{{el.second}}</td>
        <td>{{el.third}}</td>
        <td>{{el.fourth}}</td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="container">
    <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4">Column A</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column B</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column C</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column D</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column E</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column F</div>
</div> -->