// td{
//     text-align: center;
//     white-space: normal;
//     border-left: solid;
//     border-left-style: inset;
//     height: 20px;
// }
// th{
//     border-left: solid;
//     border-left-style: inset;
// }

p{
    margin-bottom: 0rem;
    border-bottom-style: inset;
    font-size: small;
}

tr.mat-row, tr.mat-footer-row {
    border: 1px solid #e7e7e7;
    font-weight: bold;
    height: 25px !important;
    text-align: center;
}

th.mat-header-cell {
    text-align: center;
    font-weight: bolder;
    font-size: medium;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
     padding-left: 2px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 2px;
}